prefix=/usr
libdir=${prefix}/lib/${LIB_ARCH}
includedir=${prefix}/include/skia

Name: skia
Description: 2D graphic library for drawing text, geometries and images.
URL: https://skia.org/
Version: ${SKIA_VERSION}
Libs: -L${libdir} -lskia -lskcms
Cflags: -I${includedir}
