[core]
backend=drm-backend.so
require-input=false
shell=ivi-shell.so
modules=ivi-webruntime-ui-controller.so,systemd-notify.so

[ivi-shell]
ivi-shell-user-interface=ivi-shell-webruntime-ui

cursor-theme=default
cursor-size=32

base-layer-id=1000
base-layer-id-offset=10000

workspace-background-layer-id=2000
workspace-layer-id=3000
application-layer-id=4000

transition-duration=300

background-image=/usr/share/weston/Optical_Fibers_in_Dark_by_Elena_Stravoravdi.png
background-id=1001
panel-image=/usr/share/weston/webruntime-panel.png
panel-id=1002
surface-id-offset=10
tiling-image=/usr/share/weston/tiling.png
tiling-id=1003
sidebyside-image=/usr/share/weston/sidebyside.png
sidebyside-id=1004
fullscreen-image=/usr/share/weston/fullscreen.png
fullscreen-id=1005
random-image=/usr/share/weston/random.png
random-id=1006
home-image=/usr/share/weston/webruntime-apps.png
home-id=1007
close-image=/usr/share/weston/webruntime-close.png
close-id=1008
logo-image=/usr/share/weston/webruntime-logo-ladybird.png
logo-id=1009
workspace-background-color=0x99000000
workspace-background-id=2001

[ivi-launcher]
workspace-id=0
icon-id=4001
icon=/usr/share/weston/webruntime-app-duckduckgo.png
path=LD_LIBRARY_PATH=/usr/lib/${LIB_ARCH}/angle /usr/bin/Ladybird --disable-sql-database --disable-http-disk-cache https://duckduckgo.com

[ivi-launcher]
workspace-id=0
icon-id=4002
icon=/usr/share/weston/webruntime-app-bigbuckbunny.png
path=LD_LIBRARY_PATH=/usr/lib/${LIB_ARCH}/angle /usr/bin/Ladybird --disable-sql-database --disable-http-disk-cache file:///usr/share/ladybird/bbb.html

[ivi-launcher]
workspace-id=0
icon-id=4003
icon=/usr/share/weston/webruntime-app-aquarium.png
path=LD_LIBRARY_PATH=/usr/lib/${LIB_ARCH}/angle /usr/bin/Ladybird --disable-sql-database --disable-http-disk-cache https://webglsamples.org/aquarium/aquarium.html

[ivi-launcher]
workspace-id=1
icon-id=4004
icon=/usr/share/weston/webruntime-app-motionmark.png
path=LD_LIBRARY_PATH=/usr/lib/${LIB_ARCH}/angle /usr/bin/Ladybird --disable-sql-database --disable-http-disk-cache https://browserbench.org/MotionMark1.3/

[ivi-launcher]
workspace-id=1
icon-id=4005
icon=/usr/share/weston/webruntime-app-useragent.png
path=LD_LIBRARY_PATH=/usr/lib/${LIB_ARCH}/angle /usr/bin/Ladybird --disable-sql-database --disable-http-disk-cache https://www.useragentstring.com

